@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="https://assets.unileversolutions.com/recipes-v2/100883.jpg" class="img-thumbnail" alt="Nuestros Platos" style="max-width: 90%; height: auto; border: 0;">
    <h1 class="display-4">Raviolis</h1>  
    <h2>Menu</h2>
</div>


<div class="row justify-content-center text-center bg-red">
    <div class="col col-md-7 seccion-bienvenida">
        <p>
            El menú de "Ravioli Arte" es una sinfonía de sabores, donde la pasta se convierte en la estrella indiscutible. Desde delicados raviolis rellenos hasta espaguetis al dente con salsas irresistibles, cada plato es una expresión de creatividad culinaria. Nuestros chefs, apasionados por la autenticidad y la calidad, seleccionan cuidadosamente los ingredientes frescos y locales para ofrecerte una experiencia gastronómica inigualable.
        </p>
    </div>
</div>
